[Unit]
Description=Kibana Docker container
Requires=docker.service
After={{ es_service_after }}

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name {{ es_node_name }} -m 2g -v /opt/docker/containers/{{ es_node_name }}/config:/usr/share/kibana/config -v /opt/docker/containers/{{ es_node_name }}/logs:/usr/share/kibana/logs docker.elastic.co/kibana/kibana:{{ es_version }} 
ExecStop=/usr/bin/docker stop -t 2 {{ es_node_name }}
ExecStopPost=/usr/bin/docker rm -f {{ es_node_name }}

[Install]
WantedBy=default.target
